<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin-Mapper">
	
	<select id="selectAdminList" resultType="admin">
		select
		*
		from
		admin
		where adminNum is not null  			  	
		order by regDate desc
	</select>
	
	<select id="selectSearchAdminListCount" resultType="int">
		select
		count(*)
		from
		admin
		where adminNum is not null  			  	
		order by regDate desc
	</select>
	
	<select id="selectAdminByAdminNum"  resultType="admin">
		select * 
		from admin 
		where adminNum=#{adminNum}
	</select>
	
	<update id="insertAdmin" parameterType="admin">
		insert 
		into 
		admin(adminNum, email, pwd, name, roll)
		values
		(#{adminNum},#{email},#{pwd},#{name},#{roll})
	</update>
	
	<update id="updateAdmin" parameterType="admin">
		update 
		admin 
		set 
		email=#{email}, pwd=#{pwd}, name=#{name}, roll=#{roll}  
		where adminNum=#{adminNum}
	</update>
	
	<update id="deleteAdmin" parameterType="int">
		delete 
		from admin 
		where adminNum=#{adminNum}
	</update>
	
	<select id="selectAdminNumSeqNext" resultType="int">
		select adminNum_seq.nextval as adminNum from dual
	</select>

</mapper>