<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Br-Mapper">

	<select id="selectSearchBrList"	resultType="br">
   		select
		*
		from
		br
		where brNum is not null 
        order by BRdate desc		  	
	</select>
	
	<select id="selectSearchBrListCount" resultType="int">
		select
		count(*)
		from
		br
		where brNum is not null  			  	
	</select>
	
	<select id="selectBrByBrNum"  resultType="br">
		select * 
		from br 
		where brNum=#{brNum}
	</select>
	
	<update id="insertBr" parameterType="br">
		insert 
		into 
		br(brNum,brContent,brDate,brState,hwCode)
		values
		(#{brNum},#{brContent},#{brDate},#{brState},#{hwCode})
	</update>
	
	<update id="updateBr" parameterType="br">
		update 
		br 
		set 
		brNum=#{brNum}, brContent=#{brContent}, brDate=#{brDate}, brState=#{brState}
		where brNum=#{brNum}
	</update>
	
	<update id="deleteBr" parameterType="str">
		delete 
		from br 
		where brNum=#{brNum}
	</update>

	<select id="selectBrSeqNext" resultType="int">
		select brnum_seq.nextval as brNum from dual
	</select>
	
</mapper>