<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Recommand-Mapper">
	<select id="selectRecommandList" resultType="recommand">
		select
		*
		from
		recommand
		<![CDATA[where recNum is not null ]]>		  	
		order by recDate desc, hwCode
	</select>
	<select id="selectRecentRecommandList" resultType="recommand">
		<![CDATA[
		select *
		from(
			select *
			from recommand
			order by recDate desc, hwCode 
		)
		where rownum<=14
		]]>
	</select>

</mapper>