<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SettingRecord-Mapper">
	<select id="selectRecordList" resultType="record">
		select
		*
		from
		settingRecord
		<![CDATA[where setNum is not null]]>		  	
		order by setDate desc, hwCode
	</select>
	<select id="selectRecentRecordList" resultType="record">
		<![CDATA[
		select *
		from(
			select *
			from settingRecord
			order by setDate desc, hwCode 
		)
		where rownum<=14
		]]>
	</select>
	<select id="selectAdminRecordList" resultType="record">
		<![CDATA[
        select *
        from(
            select *
            from(
                select *
                from settingRecord
                order by setDate desc, hwCode 
        	)
            where rownum<=14
        ) 
        where reason='admin';
		]]>
	</select>
	<select id="selectRecordListByHwcode" resultType="record">
		select
		*
		from
		settingRecord
		<![CDATA[where hwCode=#{hwCode} AND rownum<=14]]>
		order by setDate desc, hwCode  
	</select>
	<select id="selectRecordListBySetDate" resultType="record">
		select *
		from settingRecord
		where <![CDATA[TO_CHAR(SETDATE, 'YYYY/MM/DD HH24:MI') = #{setDate} AND rownum<=14 ]]>
		order by hwCode
	</select>
	
	<update id="insertRecordList" parameterType="record">
		insert
		into 
		settingRecord(setNum,lightState,reason,hwCode)
		values
		(#{setNum},#{lightState},#{reason},#{hwCode)
	</update>
	
</mapper>