<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SettingRecord-Mapper">

	<select id="selectRecentRecordList" resultType="record">
		<![CDATA[
		select *
		from(
			select *
			from settingRecord
			order by timeset desc, setNum desc
		)
		where rownum<=14
		order by hwCode
		]]>
	</select>
	<select id="selectAdminRecordList" resultType="record">
		<![CDATA[
        select *
        from(
            select *
			from(
				select *
				from settingRecord
				order by timeset desc, setNum desc
			)
		where rownum<=14
        ) 
        where reason='admin'
        order by hwCode
		]]>
	</select>
	<select id="selectRecordListByHwcode" resultType="record">
		select
		*
		from
		settingRecord
		<![CDATA[where hwCode=#{hwCode} AND rownum<=14]]>
		order by timeset desc, setNum desc
	</select>
	<select id="selectRecordListBySetDate" resultType="record">
		<![CDATA[select *
		from (
			select *
            from SETTINGRECORD
			where TO_CHAR(setDate, 'YYYY/MM/DD HH24:MI:SS') = #{setDate}
			order by setNum desc		
			)
		where rownum<=14
		order by hwCode
		]]>
	</select>
	<select id="selectRecordListByTimeSet" resultType="record">
	<![CDATA[select *
		from (
			select *
            from SETTINGRECORD
			where TO_CHAR(TIMESET, 'YYYY/MM/DD HH24:MI') = #{timeSet}
			order by timeset desc, setNum desc
		)
		where rownum<=14
		order by hwCode
		]]>
	</select>
	
	<update id="insertRecordList" parameterType="record">
		insert
		into 
		settingRecord(setNum,lightState,reason,hwCode,setDate,timeSet)
		values
		(#{setNum},#{lightState},#{reason},#{hwCode},TO_DATE(#{strSetDate},'YYYY/MM/DD HH24:MI:SS'),TO_DATE(#{strTimeSet},'YYYY/MM/DD HH24:MI'))
	</update>
	
</mapper>