<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Traffic-Mapper">
	<sql id="search">
		<if test="searchType == 'A'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'B'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'C'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'D'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'E'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'F'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'G'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'G'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'I'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'J'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'K'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'L'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'M'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
		
		<if test="searchType == 'N'.toString()">
			and hwcode like '%'||#{searchType}||'%'
		</if>
	</sql>
	
	<sql id="date">
		and TO_CHAR(traffdate, 'YYYYMMDD') between #{fromDate} and #{toDate}
	</sql>
	
    <select id="selectsearchTrafficList" resultType="traffic">
    	select *
    	from traffic
    	where traffnum is not null
    	<include refid="search" />
    	order by traffDate desc
    </select>
    
    <select id="selectSearchTrafficListCount" resultType="int">
    	select count(*)
    	from traffic
    	where traffnum is not null
    	<include refid="search" />
		order by traffDate desc
    </select>
    
    <select id="selectTrafficByTraffnum" resultType="traffic">
    	select *
    	from traffic
    	where traffnum=#{traffnum}
    </select>
</mapper>