@charset "EUC-KR";

.line1 {
	border: 0px;
	width: 3.3vw;
	margin-left: -0.2vw;
	margin-right: -0.2vw;
	border-top: 0.5vw solid yellow;
	display: inline-block;
	transform: translate(0, -100%);
	z-index: 1;
	position: relative;
}

.line1:focus {
	border: 0px;
	width: 3.3vw;
	margin-left: -0.2vw;
	margin-right: -0.2vw;
	border-top: 0.5vw solid black;
	display: inline-block;
	transform: translate(0, -100%);
	z-index: 1;
	position: relative;
}

.line2 {
	width: 3.3vw;
	height: 5.3vw;
	margin-bottom: -4.4vw;
	margin-left: -0.2vw;
	border-radius: 0 100%;
	display: inline-block;
	border-top: 0.5vw solid yellow;
	border-right: 0.5vw solid yellow;
	z-index: 1;
	position: relative;
	z-index: 1;
	border-right: 0.5vw solid yellow;
	border-top: 0.5vw solid yellow;
	display: inline-block;
	margin-left: -0.2vw;
	border-radius: 0 100%;
}

.line3 {
	width: 3.3vw;
	height: 5.3vw;
	margin-bottom: 0.5vw;
	margin-right: 0.3vw;
	margin-left: -0.2vw;
	border-radius: 0 0 100%;
	display: inline-block;
	border-bottom: 0.5vw solid yellow;
	border-right: 0.5vw solid yellow;
	z-index: 1;
	position: relative;
	z-index: 1;
	border-right: 0.5vw solid yellow;
	border-bottom: 0.5vw solid yellow;
	display: inline-block;
	margin-right: 0.3vw;
	margin-left: -0.2vw;
	border-radius: 0 0 100%;
}

.cercle {
	border: 3px solid black;
	border-radius: 50%;
	margin-bottom: 0.2vw;
	width: 1vw;
	height: 1vw;
	background-color: white;
	display: inline-block;
	z-index: 5;
	position: relative;
}

.cercle_center {
	border: 3px solid black;
	border-radius: 50%;
	margin-bottom: -5.3vw;
	margin-left: -0.7vw;
	width: 1vw;
	height: 1vw;
	background-color: white;
	display: inline-block;
	z-index: 5;
	position: relative;
}

.cercle_bold_top {
	border: 5px solid black;
	border-radius: 50%;
	width: 1.3vw;
	height: 1.3vw;
	background-color: white;
	display: inline-block;
	z-index: 5;
	position: relative;
	margin-bottom: 0.05vw;
}

.cercle_bold_bottom {
	border: 5px solid black;
	border-radius: 50%;
	width: 1.3vw;
	height: 1.3vw;
	background-color: white;
	display: inline-block;
	z-index: 5;
	position: relative;
	margin-bottom: 0.05vw;
}

.route_map {
	height: 320px;
	width: 100%;
}

.route_map_left {
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	margin: 0;
	font-size: 0;
	position: relative;
	display: inline-block;
}

.route_map_right {
	width: 10%;
	height: 50%;
	padding-top: 5.5vw;
	padding-bottom: 3vw;
	margin-left: -5vw;
	margin-right: 0.5vw;
	font-size: 0;
	position: relative;
	display: inline-block;
	float: right;
	margin-right: 0.5vw;
}

.route_gap {
	width: 100%;
	height: auto%;
	text-align: center;
	padding-top: 5.5%;
	padding-bottom: 5.5%;
	margin: 0 auto;
	font-size: 0;
}

.text_1 {
	font-size: 1vw;
	display: inline;
	margin-right: 1.9vw;
}

.text_2 {
	font-size: 1vw;
	display: inline;
	margin-right: 2vw;
	margin-left: 2.7vw;
}

.text_3 {
	font-size: 1vw;
	display: inline;
	margin-right: 1.2vw;
	margin-left: -9vw;
}

@media all and (max-width:991px) {
	.route_gap {
		width: 100%;
		height: auto%;
		text-align: center;
		padding-top: 2.75%;
		padding-bottom: 2.75%;
		margin: 0;
		font-size: 0;
		position: relative;
	}
	.line1 {
		border: 0px;
		width: 9vw;
		margin-left: -0.2vw;
		margin-right: -0.2vw;
		border-top: 1vw solid yellow;
		display: inline-block;
		transform: translate(0, -100%);
		z-index: 1;
		position: relative;
	}
	.line1:focus {
		border: 0px;
		width: 12vw;
		margin-left: -0.2vw;
		margin-right: -0.2vw;
		border-top: 1vw solid black;
		display: inline-block;
		transform: translate(0, -100%);
		z-index: 1;
		position: relative;
	}
	.line2 {
		width: 5.3vw;
		height: 12vw;
		margin-bottom: -10.2vw;
		border-radius: 0 100%;
		display: inline-block;
		border-top: 1vw solid yellow;
		border-right: 1vw solid yellow;
		z-index: 1;
		position: relative;
	}
	.line3 {
		width: 5.3vw;
		height: 12vw;
		margin-bottom: 1.1vw;
		border-radius: 0 0 100%;
		display: inline-block;
		border-bottom: 1vw solid yellow;
		border-right: 1vw solid yellow;
		z-index: 1;
		position: relative;
	}
	.cercle {
		border: 3px solid black;
		border-radius: 50%;
		width: 2vw;
		height: 2vw;
		background-color: white;
		display: inline-block;
		z-index: 5;
		position: relative;
	}
	.cercle_center {
		border: 3px solid black;
		border-radius: 50%;
		margin-bottom: -11.5vw;
		margin-left: -1.5vw;
		width: 2vw;
		height: 2vw;
		background-color: white;
		display: inline-block;
		z-index: 5;
		position: relative;
	}
	.cercle_bold_top {
		border: 5px solid black;
		border-radius: 50%;
		width: 2.5vw;
		height: 2.5vw;
		background-color: white;
		display: inline-block;
		z-index: 5;
		position: relative;
		margin-bottom: 0.05vw;
	}
	.cercle_bold_bottom {
		border: 5px solid black;
		border-radius: 50%;
		width: 2.5vw;
		height: 2.5vw;
		background-color: white;
		display: inline-block;
		z-index: 5;
		position: relative;
		margin-bottom: 0.05vw;
		margin-left: -0.4vw;
	}
	.text_1 {
		font-size: 2vw;
		display: inline;
		margin-right: 6.6vw;
	}
	.text_2 {
		font-size: 2vw;
		display: inline;
		margin-left: 5.1vw;
		margin-right: 7vw;
	}
	.text_3 {
		font-size: 2vw;
		display: inline;
		margin-right: -10vw;
	}
	.route_map {
		height: 100%;
		width: 100%;
	}
	.route_map_right {
		width: 5%;
		height: 50%;
		padding-top: 12vw;
		padding-bottom: 3vw;
		margin-left: -10vw;
		margin-right: 5vw;
		font-size: 0;
		position: relative;
		display: inline-block;
		float: right;
	}
	.route_gap {
		width: 100%;
		height: auto%;
		text-align: center;
		padding-top: 6%;
		padding-bottom: 6%;
		margin: 0 auto;
		font-size: 0;
	}
}