@charset "EUC-KR";

.button_left {
	width: 0;
	height: 0;
	border-bottom: 0.7vw solid transparent;
	border-top: 0.7vw solid transparent;
	border-left: 0.7vw solid transparent;
	border-right: 0.7vw solid;
	display: inline-block;
}

.button_right {
	width: 0;
	height: 0;
	border-bottom: 0.7vw solid transparent;
	border-top: 0.7vw solid transparent;
	border-left: 0.7vw solid;
	border-right: 0.7vw solid transparent;
	display: inline-block;
}

.weather_time {
	font-size: 1em;
	font-size: small;
}

.weather_select {
	font-size: 1.8vw;
	width: 100%;
	padding-top: 1.4vw;
}

.weather_text_div {
	width: 70%;
	font-size: small;
}

.weather_text {
	margin-right: 1vw;
	font-size: 1vw;
	vertical-align: middle;
	display: inline-block;
}

.weather_text_2 {
	font-size: 4vw;
	width: 100%;
	margin-top: 0.6vw;
	padding: 0;
	text-align: center;
}

.weather_text_3 {
	font-size: 4vw;
	width: 100%;
	margin-top: -0.5vw;
	padding: 0;
	text-align: center;
}

.weather_text_4 {
	font-size: 3vw;
	width: 100%;
	text-align: right;
	margin-bottom: -4vw;
}

@media all and (max-width:991px) {
	.button_left {
		width: 0;
		height: 0;
		border-bottom: 2vw solid transparent;
		border-top: 2vw solid transparent;
		border-left: 2vw solid transparent;
		border-right: 2vw solid white;
		display: inline-block;
	}
	.button_right {
		width: 0;
		height: 0;
		border-bottom: 2vw solid transparent;
		border-top: 2vw solid transparent;
		border-left: 2vw solid white;
		border-right: 2vw solid transparent;
		display: inline-block;
	}
	.weather_select {
		font-size: 5vw;
		width: 100%;
	}
	.weather_text_div {
		width: 70%;
		font-size: small;
	}
	.weather_text {
		margin-right: 1vw;
		font-size: 3vw;
		vertical-align: middle;
		display: inline-block;
	}
	.weather_text_2 {
		font-size: 10vw;
		width: 10%;
		margin-top: -0.1vw;
		padding: 0;
		text-align: center;
	}
	.weather_text_3 {
		font-size: 10vw;
		width: 30%;
		margin-top: -3vw;
		padding: 0;
		text-align: center;
	}
	.weather_text_4 {
		font-size: 9vw;
		width: 100%;
		text-align: right;
		margin-top: -15vw;
		margin-bottom: -10vw;
	}
}